[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
    pager = delta
[delta]
    navigate = true
    light = false
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
